project:
  type: website
  resources:
    - "CNAME"

website:
  description: "A blog built with Quarto"
  site-url: https://nrtm-dev.de # you must change this appropriately for RSS feeds to work properly
  title: "nrtm-dev.de"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



